/* Write your code here: */
h1, h2 {
    color: blueviolet;
}

/* It can be class or id also.. Like:- */
/* .class, #id {
    css properties;
} */

.box > .done { /* parent > child {} */
    color: firebrick;
}

.box li {  /* Asendent Decendent {} */
    color: blue;
}

li.done { /* Chaining Selectors : elt.class#id {} OR elt#id.class {} */
    color: seagreen;
}

ul p.done { /* Combining Combiners: Selector SelectorSelector {} */
    font-size: 0.5rem;
}
/* OR */
ul > p.done { /* Combining Combiners: Selector SelectorSelector {} */
    font-size: 0.5rem;
}