.colors {
    background-color: #121481;
    background-color: #FFEAE3;
    background-color: #FFCBCB;
    background-color: #FFB1B1;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", serif;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #121481;
}

.logo a {
    color: #FFCBCB;
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
}

.navbar {
    display: flex;
}

.nav-list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.nav-link {
    color: #f0f8ff;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
    color: #f0f8ff;
    transform: translateY(-3px);
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar {
        width: 100%;
        justify-content: space-evenly;
    }

    .nav-list {
        flex-direction: column;
        gap: 10px;
    }
}


/* Intro Designing */

/* 1. For Desktop */
.intro {
    background: repeating-linear-gradient(200deg, #FFB1B1, #FFCBCB, #FFEAE3, #FFCBCB, #FFB1B1);
    width: 100%;
    height: 90vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr 4fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 2px;
}
.item-container-name {
    position: relative;
    padding-left: 0;
    grid-column: 2 / 4;
    grid-row: 3;
    font-size: 120px;
    font-weight: bolder;
    color: #121481;
    margin-bottom: 20px;
}

.item-container-profession {
    position: relative;
    margin-top: 0;
    font-size: 2rem;
    width: 100%;
    color: #121481;
    grid-area: 4 / 2 / 4 / 4;
}

.pfp  {
    position: relative;
    margin-bottom: 0;
    height: 23rem;
    width: 23rem;
    border-radius: 50%;
    outline: 3px double #FFB1B1;
    outline-offset: 1.5px;
    display: grid;
    grid-column: 4;
    grid-row: 3 / span 5;
}

.item-container-info {
    position: relative;
    margin-top: 2rem;
    font-size: 1.2rem;
    grid-column: 4;
    grid-row: 5;
    height: 50px;
    color: #121481;
    margin-bottom: 0;
}

.social-logos {
    position: relative;
    margin-top: 0;
    grid-column: 4;
    grid-row: 6;
    display: flex;
    height: auto;
    max-width: 40%;
    margin-right: 0;
    flex-direction: row;
    align-content: end;
    justify-content: space-evenly;
}

.social-logos > a > * {
    position: relative;
    height: 20px;
    border-radius: 50%;
}


.B {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.item-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.light-item {
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0;
    margin-bottom: 0;
    color: #121481;
}

.bold-item {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
    padding: 0;
    margin-top: 0;
    color: #FFB1B1;
}


.C {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0;
}

.h1-bold {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding-left: 20rem;
    grid-column: span 10;
    grid-row: 1;
    font-size: 100px;
    font-weight: bolder;
    color: #121481;
}

.container1 {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
}

.item-container1 {
    margin-right: 0;
    grid-row: 2 / span 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.item-bolder {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0;
    color: #121481c2;
}

.item-bold {
    font-size: 1.3rem;
    font-weight: 500;
    color: #121481;
    margin-top: 0;
}



.container2 {
    position: relative;
    margin-top: 10px;
    padding-left: 10rem;
    width: 100%;
    grid-column: 4 / 9;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    border-left: 2px solid #121481;
    font-size: 1.1rem;
    color: #000000d7;
}

.bold-para {
    width: 100%;
    height: auto;
    font-weight: 400;
    margin-bottom: 0;
}

.bold-span-elt {
    font-weight: 500;
}

.italic-span {
    font-style: italic;
}
.light-para1 {
    margin-top: 0;
}

.light-para2 {
    margin-top: 0;
    margin-bottom: 3rem;
}

.button-style {
    width: 250px;
    font-size: 18px;
    padding: 10px;
    color: #121481;
    background-color: #FFCBCB;
    box-shadow: 0 4px 6px #12148160;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-style:hover {
    background-color: #121481;
    color: #FFEAE3;
    transform: translateY(-5px);
    box-shadow: 0 6px 12px #121481a4;
}






/* Section D */
.D {
    position: relative;
    max-height: 300vh;
    height: auto;
    width: 100%;
    background-color: #FFEAE3;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
}

.resume {
    position: relative;
    grid-column: 1/ span 10;
    grid-row: 1;
}

.interest {
    position: relative;
    grid-column: 1 / span 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    padding: auto;
}

.interest-item {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.bold-interest {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    color: #121481;
    font-size: 1.3rem;
}

.right-div {
    position: relative;
    height: auto;
    padding-left: 10rem;
    grid-column: 4 /  10;
    border-left: 2px solid #121481;
    font-size: 1.1rem;
    color: #000000d7;
}
.resume-info {
    grid-column: 4 / 9;
    grid-row: 2 / span 3;
}
.resume-info1 {
    margin-top: 0;
    position: relative;
    margin-bottom: 0;

}

.resume-info2 {
    position: relative;
    margin-top: 0;
}

.sub-heading {
    font-size: 2.8rem;
    color: #121481;
    font-weight: 800;
    margin-top: 70px;
    margin-bottom: 3px;
}

.skill {
    grid-column: 4 / 9;
    grid-row: 4 / span 6;
    margin-bottom: 100px;
}

.skill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.skill-card {
    display: flex;
    flex-direction: column;
    background-color: #FFCBCB;
    border-radius: 10px;
    padding: 20px;
    flex-basis: 250px;
    flex-shrink: 0;
    box-shadow: 0 4px 6px #12148160;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
    background-color: #121481;
    transform: translateY(-5px);
    box-shadow: 0 6px 12px #121481a4;
}

.skill-name {
    font-size: 18px;
    margin-bottom: 15px;
    color: #000000d7;
}

.skill-card:hover .skill-name {
    color: #FFEAE3;
}

.skill-bar {
    width: 100%;
    background-color: #FFEAE3;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

/* Animated Gradient Skill Level */
.skill-level {
    height: 10px;
    background: linear-gradient(90deg, #FFB1B1, #121481);
    border-radius: 10px;
    width: 0;
    animation: fillBar 2s ease-in-out forwards;
}

/* Animation Keyframes */
@keyframes fillBar {
    from { width: 0; }
    to { width: var(--skill-level); }
}

.right-bottom-part {
    display: flex;
    flex-direction: row;
}
.education {
    grid-column: 4 / 6;
    grid-row: 7 / span 8;
    display: flex;
    flex-direction: column;
}


.education-duration {
    font-weight: 400;
    margin-bottom: -20px;
}

.education-course {
    padding: 0;
    font-weight: 700;
    font-size: 1.3rem;
    margin: 0px;
}

.education-institution {
    margin-top: -20px;
    font-weight: 300;
    font-size: 1rem;
}

.expertise {
    grid-column: 8 / span 10;
    grid-row: 7 / span 8;
    font-weight: 500;
    margin-left: 250px;
}

.certification {
    grid-column: 4 / span 6;
    grid-row: 11 / span 12;
    margin-bottom: 20px;
}

.certification-sub-box {
    display: flex;
    flex-direction: column;
}

.certification-duration {
    font-weight: 400;
    margin-bottom: -20px;
}

.certification-course {
    padding: 0;
    font-weight: 700;
    font-size: 1.3rem;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}

.certification-institution {
    margin-top: -20px;
    font-weight: 300;
    font-size: 1rem;
}

.experience {
    display: grid;
    grid-column: 8 / span 9;
    grid-row: 7 / span 8;
}

.experience-duration {
    font-weight: 400;
    margin-bottom: -20px;
}

.experience-main {
    padding: 0;
    font-weight: 700;
    font-size: 1.3rem;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}

.experience-position {
    margin-top: -20px;
    font-weight: 400;
    font-size: 1rem;
}

.experience-info {
    margin-top: -15px;
    font-weight: 350;
    font-size: 0.9rem;
}




/* Section: E */

.E {
    position: relative;
    width: 100%;
    height: 145vh;
}

.my-project-title {
    margin-bottom: 50px;

}

 .my-project-basic-info {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 575px;
    font-size: 1.3rem;
    color: #000000d7;
    border-left: 2px solid #121481;
}

.my-project-info1 {
    position: relative;
    padding-left: 10rem;
    margin-top: 0;
}


.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.project-member {
    display: flex;
    background-color: #121481;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    height: 250px;
    flex-shrink: 1;
    box-shadow:  0 4px 6px #12148160;
    color: #f0f8ff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-member:hover {
    background-color: #FFCBCB;
    color: #121481;
    transform: translateY(-5px);
    box-shadow: 0 6px 12px #121481a4;
}

.project-member:hover .project-name {
    color: #121481;
    font-weight: 700;
}

.project-item-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

figure > img {
    border-radius: 10px;
}

figcaption {
    float: right;
    font-size: 1.3rem;
    font-weight: 800;
}

.project-name {
    font-size: 30px;
    margin-bottom: 0;
    color: #FFB1B1;
}

.project-tools {
    font-size: 1rem;
    margin-top: 5px;
}

.project-caption {
    font-size: 1rem;
    margin-top: 0;
    font-weight: 300;
}



/* F Section */
.F {
    position: relative;
    background-color: #121481;
    color: #f0f8ff;
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.contact-me {
    color: #FFCBCB;
}

.left-contactme {
    position: relative;
    grid-column: 1 / span 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    padding: auto;
}

.contactme-item {
    position: relative;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.bold-contactme {
    position: relative;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    color: #FFCBCB;
    font-size: 1.3rem;
}

.right-contactme {
    position: relative;
    height: auto;
    padding-left: 10rem;
    grid-column: 4 /  10;
    border-left: 2px solid #f0f8ff;
    font-size: 1.2rem;
}

.contactme-info {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 300;
}
.h1-contactme-form {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1.5rem;
    color: #FFCBCB;
}

.form-input {
    height: 30px;
    border-radius: 3px;
}

.send-message-btn {
    font-weight: 450;
    font-size: 1.3rem;
    max-width: 200px;
}
.send-message-btn:hover {
    font-weight: 480;
    background-color: #f0f8ff;
    color: #000000d7;
    transform: translateY(-5px);
    box-shadow: 0 6px 12px #121481a4;
}




footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    background: repeating-linear-gradient(200deg, #FFB1B1, #FFCBCB, #FFEAE3, #FFCBCB, #FFB1B1);
    width: 100%;
    font-size: 1rem;
    color: #121481;
}

.footer-container {
    position: relative;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    width: 200px;
    justify-content: space-around;
}
.footer-container > a > img {
    border-radius: 50%;
}



/* 
.go-to-top-btn {
    display: none;
    position: sticky;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #121481;
    color: #f0f8ff;
    cursor: pointer;
    padding: 15px;
    border-radius: 2px;
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.go-to-top-btn:hover {
    background-color: #FFCBCB; 
    transform: scale(1.1);
} */